{
  "cli": {
    "version": ">= 14.5.0",
    "appVersionSource": "remote"
  },
  "build": {
    "development": {
      "developmentClient": true,
      "distribution": "internal",
      "ios": {
        "simulator": true
      }
    },
    "preview": {
      "distribution": "internal",
      "extends": "production",
      "autoIncrement": true,
      "ios": {
        "simulator": true
      },
      "env": {
        "EXPO_PUBLIC_API_URL": "YOUR_API_URL",
        "EXPO_PUBLIC_API_KEY": "YOUR_API_KEY",
        "EXPO_PUBLIC_RC_APPLE_KEY": "YOUR_RC_APPLE_KEY",
        "EXPO_PUBLIC_RC_GOOGLE_KEY": "YOUR_RC_GOOGLE_KEY",
      }
    },
    "production": {
      "autoIncrement": true,
      "env": {
        "EXPO_PUBLIC_API_URL": "YOUR_API_URL",
        "EXPO_PUBLIC_API_KEY": "YOUR_API_KEY",
        "EXPO_PUBLIC_RC_APPLE_KEY": "YOUR_RC_APPLE_KEY",
        "EXPO_PUBLIC_RC_GOOGLE_KEY": "YOUR_RC_GOOGLE_KEY",
      }
    }
  },
  "submit": {
    "production": {
      "autoIncrement": true,
      "env": {
        "EXPO_PUBLIC_API_URL": "YOUR_API_URL",
        "EXPO_PUBLIC_API_KEY": "YOUR_API_KEY",
        "EXPO_PUBLIC_RC_APPLE_KEY": "YOUR_RC_APPLE_KEY",
        "EXPO_PUBLIC_RC_GOOGLE_KEY": "YOUR_RC_GOOGLE_KEY",
      }
    }
  }
}
